{% extends "template.html" %}

{% block content %}

	<div class="content">
		<h1>CV</h1><br>

		<h2>Education</h2>
		<p>IT CARLOW</p>
		<p>Software Development</p>
		<p>3rd year student</p>
		
		<br>
		
		<h2>Skills</h2>
		<p>HTML	CSS	MySQL</p>
		<p>C++ PYTHON Eclipse</p>
		<p>IntelliJ Visual Studio</p>
		
		<br>	
	
		<h2>Personal Profile</h2>
		<p>I am a highly motivated student who</p>
		<p>has very high goals in life and will</p>
		<p>do my absolute best to achieve them.</p>
		<p>I am a great listener who is not afraid</p>
		<p>to speak my mind with the ability to</p>
		<p>work great in a team just as well</p>
		<p>as working on my own. Over the</p>
		<p>course of the last couple of</p>
		<p>years I have developed great </p>
		<p>ability to problem solving.</p>
	</div>
	
{% endblock %}