<!DOCTYPE html>
<html>
<head>
	<title>Computing</title>
</head>
<link href="/static/style.css" rel="stylesheet" type="text/css">
<body>
	{% include 'nav.html' %}
	
	<div class="content">
		
				<a href="/computing">Back</a>	
				
				<h2>MUSIC</h2>
		<p>Music is one of the most important and powerful</p>
		<p>things in my life. I practically listen to music</p>
		<p>everyday, it flavors my world, makes me feel</p>
		<p>invicible, and makes me perceive the world differently.</p>
		<p>It helps me to distress,relax and to re-think about my</p>
		<p>current situation or problem that I have encountered.</p>
		<p>I listen to music whenever there isn't a reason to not.</p>
		
		
	</div>
</body>
</html>