<!DOCTYPE html>
<html>
<head>
	<title>Computing</title>
</head>
<link href="/static/style.css" rel="stylesheet" type="text/css">
<body>
	{% include 'nav.html' %}
	
	<div class="content">
		
				<a href="/computing">Back</a>
		
		<h2>Programming</h2>
		<p>Even tho I am still a newbie in programming,</p>
		<p>it interest me and always has, making something</p>
		<p>out of nothing has been always satisfying me</p>
		<p>making it even more exciting.</p>
		<p>I enjoy programming because of it's endless</p>
		<p>applications,you wish for something and</p>
		<p>programming can made it possible if you have</p>
		<p>enough resources and skill, second thing that I</p>
		<p>like about programming is that, it build your</p>
		<p>problem solving skill which increases your</p>
		<p>creativity.</p>
		
	</div>
</body>
</html>