{% extends "template.html" %}

{% block content %}

	<div class="content">
		<h1>INTERESTS</h1><br>
		<h4>FITNESS & NUTRITION</h2><br>
		
		Going to the gym is one of my favourite hobbies it helps me to improve my body
		<br> and keep it in shape. It also helps me to destress after a long day by
		<br> making my body release endorphins.
		<br>Endorphins interact with your brain's receptors to reduce your sense
		<br>of pain, resulting in a euphoric and uplifting feeling.<br>
		<br>Sticking to a diet(or I should say trying to) by eating healhy
		<br>can help in losing weight and having more energy.
		<br>It can also improve mood and reduce a risk of disease.
		
		
	</div>
	

{% endblock %}