<nav>
	<label class="logo">
	Assignment 1
		<ul class="XD">
			<li><a {% if request.endpoint == "index" %}class="active"{% endif %} href="/">Home</a></li>
			<li><a {% if request.endpoint == "personal" %}class="active"{% endif %} href="/personal">Personal</a></li>
			<li><a {% if request.endpoint == "cv" %}class="active"{% endif %} href="/cv">CV</a></li>
			<li><a {% if request.endpoint == "computing" %}class="active"{% endif %} href="/computing">Computing</a></li>
			<li><a {% if request.endpoint == "contact" %}class="active"{% endif %} href="/contact">Contact</a></li>
		</ul>
	</label>
</nav>